body{
    background: linear-gradient(135deg, #1b5e20, #4caf50, #a5d6a7);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.card{
    border: none;
    border-radius: 15px;
    overflow: hidden;
}
.card-header{
    background: #1b5e20 !important;
}

.form-label{
    font-weight: bold;
}
